body {
  font-family: "open-sans", sans-serif;
  font-size: 15px;
  line-height: 1em;
  margin: 0px;
  padding: 0px;
}

.container {
  margin: auto;
}

/* COMMON CLASSES */
.primary-text {
  color: rgb(50, 7, 206);
}

/* HEADER */
#main-header {
  border-bottom: 1px solid #ec0511;
  }

/* Aside style */
.aside {
    width: 20%;
    padding: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

.main-text {
    width: 75%;
    float: left;
}
/* showcase */

#showcase {
  border-bottom: 1px solid #1b078a;
  margin-bottom: 20px;
}

#showcase .row {
  height: 250px;
}

.primary-text {
  color: greenyellow;
  background-color: mediumblue;
}

#showcase .showcase-content {
  background: rgb(135, 235, 185);
  color: snow;
  border-radius: 360px;
  padding: 60px;
  opacity: 0.85;
}

#showcase p {
  font-size: 40px;
  margin: 10px;
  color: rgb(185, 30, 126);
  text-align: center;
}

#showcase h2 {
  font-size: 25px;
  margin: 10px;
  color: rgb(26, 11, 230);
  text-align: center;
}

/* contact-info*/
.contact-info {
  background: navy;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-text {
  background: #f3cf7a;
  padding: 20px;
  text-align: center;
}

img {
  width: 85%;
  height: auto;
}

figcaption {
  font-size: 0.9em;
  font-style: italic;
}

section .introduction {
  height: 200px;
  border: 1px #0f0 solid;
  padding: 15px;
  margin: 10px;
  text-align: center;
  background: #00f;
  color: #fff;
}

/* Media Queries */

@media (max-width: 800px) {
  #showcase h2 {
    font-size: 40px;
  }
}

@media (max-width: 800px) {
  #showcase p {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  #showcase .showcase-content {
    padding: 40px 10px;
  }
}
/* Footer */
#page-container {
  position: relative;
  min-height: 100vh;
}
#content-wrap {
  padding-bottom: 2.5rem;    
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10px; 
  }